@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=IBM+Plex+Mono&family=Ubuntu&display=swap');

/* 070436
7A9AE4
11EED8 */

/* @media (min-width: 1280px) { */

body, html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #070436;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav {
    /* background-color: rgba(8, 126, 139); */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed; */
    /* left: 0%; */
    /* top: 0%; */
    /* z-index: 1; */
}

#company-name {
    width: 20%;
    height: 5vh;
    color: #11EED8;
    background-image: url(./assets/nova.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    line-height: 5vh;
}

nav > a {
    text-decoration: none;
    border-radius: 1vw;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    width: 15%;
    display: inline-block;
    margin: 0 2%;
}

#account-tab-icon {
    width: 25%;
    padding-top: 1vh;
}

#menu {
    display: none;
}

#menu-content {
    display: none;
}

nav > img {
    width: 10%;
    display: none;
}

@keyframes hoverAnimation {
    0% {
        outline: .2vw solid #070436;
    }
    100% {
        outline: .2vw solid #7A9AE4;
    }
}

.nav-option:hover {
    animation: hoverAnimation .5s linear forwards;
}



/* ***************************home page (index.html)*************************** */
#header {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#header-info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: left;
}

#header-info > h1 {
    font-size: 3vw;
    animation: fadeDown 2s ease forwards;
}

#header-info > p {
    opacity: 0;
    font-size: 1.5vw;
    margin-top: -2vh;
    margin-bottom: 4vh;
    animation: fadeRight 2s 2s ease forwards;
}

#header-img {
    height: 100%;
    width: 100%;
    
    background-image: url(./assets/female-coder.jpg);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#open-job-list {
    opacity: 0;
    text-decoration: none;
    width: 10vw;
    height: 10vh;
    padding: 1vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8vw;
    color: #070436;
    background-color: #11EED8;
    border: .5vw solid #11EED8;
    border-radius: 1vw;
    line-height: 8vh;
    margin-left: -.1vw;
    animation: fade 2s 4s ease forwards;
}

#open-job-list:hover {
    background-color: #070436;
    color: #11EED8;
}

.home-section {
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.home-section-2 {
    background-color: lightgrey;
    color: #070436;
}

.home-column {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    padding: 1.1vw;
    font-size: 2vw;
    line-height: 7vh;
}

.home-column > h2 {
    font-size: 3vw;
    line-height: 8vh;
}

.home-image {
    height: 80%;
    margin-top: 4vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



.home-button-1 {
    margin-top: 4vh;
    display: block;
    text-decoration: none;
    color: #11EED8;
    background-color: #070436;
    padding: .75vw;
    border-radius: 1.5vw;
    width: 30%;
    text-align: center;
}

.home-button-1:hover {
    text-decoration: underline;
}

.home-button-2 {
    margin-top: 2vh;
    display: block;
    text-decoration: none;
    color: #070436;
    background-color: #11EED8;
    padding: .75vw;
    border-radius: 1.5vw;
    width: 60%;
    text-align: center;
}

.home-button-2:hover {
    text-decoration: underline;
}

#home-login-link {
    margin-top: -2vh;
}

#contact-info {
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-column {
    padding-left: 5vw;
}
/* ***************************End of Home Page*************************** */






/* ***************************Start of Log In*************************** */
#log-in-header {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#log-in-header > h1 {
    animation: fadeDown 2s ease forwards;
}

#log-in {
    color: #070436;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    text-align: center;
    /* background-color: #11EED8; */
    background-color: lightgray;
    width: 40vw;
    /* height: 50vh; */
    font-size: 1.3vw;
}

.account-label {
    margin-bottom: 1vh;
}

.account-input {
    width: 100%;
    height: 5vh;
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 1vh;
}

.input-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: left;
    width: 50%;
}

.account-submit {
    border: none;
    background-color: #070436;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
    width: 50%;
    border-radius: 1vw;
    padding: 1vh;
    /* border: solid #070436 .6vh; */
}

.account-submit > a {
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
}

.account-submit:hover {
    /* color: #070436; */
    background-color: #7A9AE4;
}

.account-page-switch {
    margin-top: 2vh;
    border: none;
    background-color: lightgrey;
    color: #070436;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
    width: 50%;
    border-radius: 1vw;
    /* padding: 1vh; */
}

.account-page-switch:hover {
    color: #7A9AE4;
}


#sign-up-header {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 5vh;
}

#sign-up-header > p {
    font-size: 1.1vw;
}

#sign-up {
    display: none;
    color: #070436;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    text-align: center;
    /* background-color: #11EED8; */
    background-color: lightgray;
    width: 40vw;
    /* height: 50vh; */
    font-size: 1.3vw;
}

#pass-requirements {
    margin-top: -3vh;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#pass-requirements > h3 {
    font-size: 1.3vw;
    margin-bottom: -1vh;
}

#pass-requirements > p {
    font-size: 1.1vw;
    text-align: left;
    padding-left: 1vw;
}
/* ***************************End of Login*************************** */







/* ***************************Start of profile page*************************** */
#profile-page-wrapper {
    text-align: center;
}

#profile-page-wrapper > h1 {
    color: #11EED8;
}

#profile-header {
    animation: fadeDown 2s ease forwards;
}

#profile-container {
    width: 60vw;
    /* height: 80vh; */
    background-color: #7A9AE4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 4vh;
    /* padding-bottom: 4vh; */
    text-align: center;
    margin-bottom: 5vh;
}

#account-info {
    margin-bottom: 7vh;
}
#account-info > img {
    width: 10vw;
}

#no-applications {
    display: none;
}

#job-1 {
    display: none;
}

#job-2 {
    display: none;
}

#job-3 {
    display: none;
}

.profile-job-container {
    width: 50%;
    /* height: 120%; */
    font-size: 1.2vw;
    background-color: white;
    color: #070436;
    text-align: left;
    padding: 1.4vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-column img {
    width: 100%;
    padding-top: 1.2vh;
}

/* .profile-job-container > div > h3 {
    padding: 0;
} */

/* .profile-job-container > p {
    width: 50%;
} */

#log-out {
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background-color: #7A9AE4;
    font-size: 1.3vw;
    margin-top: 5vh;
    padding: 1vh;
    border-radius: 1vw;
}

#log-out:hover {
    background-color: red;
}

#log-out-confirmation {
    background-color: white;
    width: 30vw;
    color: #070436;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40vh;
    padding: 1vh;
    display: none;
    text-align: center;
    position: fixed;
}

#confirm-log-out {
    background-color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

#confirm-log-out:hover {
    text-decoration: underline;
}

#reject-log-out {
    background-color: #070436;
    color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

#reject-log-out:hover {
    text-decoration: underline;
}

#profile-picture {
    border-radius: 50%;
}

/* #profile-picture:hover {
    background-color: #070436;
}

#profile-picture-window {
    background-color: white;
    width: 30vw;
    color: #070436;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10vh;
    padding: 1vh;
    text-align: center;
    position: fixed;
}

#profile-picture-display {
    background-color: #070436;
    border-radius: 50%;
    width: 75%;
}

#profile-picture-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
}

#exit-profile-window {
    background-color: #070436;
    color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

#exit-profile-window:hover {
    text-decoration: underline;
}

#save-profile-picture {
    background-color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

#save-profile-picture:hover {
    text-decoration: underline;
} */

/* ***************************End of Profile*************************** */







/* *******************************Start of Job Page************************ */
#job-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5vh;
}

.job-list-column {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#job-list-title {
    animation: fadeDown 2s ease forwards;
    text-align: center;
    margin: 2vw;
}

#job-info {
    width: 100%;
    overflow-y: scroll;
    border-top: .3vw solid white;
    height: 55.5vh;
    /* border-radius: 3vw; */
}

.job-container {
    padding: 3vw;
    border: .3vw solid white;
    border-radius: 3vw;
    margin-bottom: 10vh;
}

#job-1-container {
    border: .3vw solid #7A9AE4;
}

.job-apply {
    padding: 2vw;
    height: 34vh;
}

/* #job-apply-1 {
    display: none;
} */

#job-apply-2 {
    display: none;
}

#job-apply-3 {
    display: none;
}

.apply {
    background-color: #11EED8;
    color: #070436;
    font-family: 'Ubuntu', sans-serif;
    padding: .5vw;
    border-radius: 1vw;
    font-size: 1.3vw;
    border: none;
    margin-top: 2vh;
}

.apply:hover {
    text-decoration: underline;
}

#job-list-column-2 {
    border: .3vw solid white;
    border-radius: 2vw;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 98vh;
}

.job-container-info {
    padding: 2vw;
}

.job-container-info > p {
    margin-bottom: 5vh;
}

/* #job-container-info-1 {
    display: none;
} */

#job-container-info-2 {
    display: none;
}

#job-container-info-3 {
    display: none;
}

#please-log-in {
    background-color: white;
    width: 30vw;
    color: #070436;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40vh;
    padding: 1vh;
    font-size: 1.6vw;
    display: none;
    text-align: center;
    
    position: fixed;
}

#go-to-log-in {
    background-color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

#back-to-job-page {
    background-color: #070436;
    color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

.job-apply-phone {
    display: none;
}

/* ***********************************End of job page******************************************** */





/* ***************************About us page start*************************** */
#about-banner {
    text-align: center;
    width: 100%;
    height: 50vh;
    background-image: url(./assets/coders-meeting.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -3vh;
}

#about-banner > h1 {
    font-size: 3vw;
    text-align: center;
    padding: 10vh;
    text-shadow: .3vw .3vw .4vw #000000;
    /* background-color: #070436; */
    animation: fadeDown 2s ease forwards;
}

#about-banner > img {
    opacity: 0;
    margin-top: -13vh;
    width: 10vw;
    animation: fade 2s 2s ease forwards;
}

#about-us-wrapper {
    text-align: center;
    margin-top: 7vh;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1vw;
    padding: 1vw;
    margin-bottom: 5vh;
}

.column {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    padding: 1vw;
    font-size: 1.1vw;
    line-height: 3vh;
}

.column > h2 {
    text-decoration: underline;
}

.image {
    height: 80%;
    margin-top: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#finishing-statement {
    width: 60%;
    line-height: 4vh;
    font-size: 1.1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#finishing-statement > a {
    color: #11EED8;
}

footer {
    width: 100%;
    line-height: 7vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    color: #070436;
    background-color: lightgrey;
}

.about-img-1 {
    background-image: url(./assets/nova.png);
}

.about-img-2 {
    background-image: url(./assets/comp-hardware-specialist.jpeg);
}

.about-img-3 {
    background-image: url(./assets/west-mec-logo.png);
}

.about-img-4 {
    background-image: url(./assets/computer-internals.jpeg);
}

.about-img-5 {
    background-image: url(./assets/counseling.jpg);
}

.about-img-6 {
    background-image: url(./assets/diversity.jpeg);
}
/* ***************************End of About us*************************** */





/* *******************************Start of Application page************************* */
.form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.info {
    text-align: center;
    background-color: lightgray;
    color: #070436;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}

.details {
    display: block;
    text-align: left;
    padding-left: 12%;
    margin-bottom: 2vh;
}

.input-box > select {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3vh;
    width: 35%;
}

.input-box > textarea {
    width: 80%;
    margin-bottom: 3vh;
    font-family: 'Ubuntu', sans-serif;
    resize: vertical;
}

.select-box {
    text-align: left;
}

.select-details {
    display: inline-block;
    margin-right: 1vw;
}

.input-box > input {
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3vh;
}

.application-done {
    display: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.application-done > h1 {
    font-size: 3vw;
}

.application-done > h2 {
    font-size: 2vw;
}

.application-done > img {
    width: 20%;
    margin-top: 8vh;
}

.application-done > p {
    color: #11EED8;
    font-size: 2.5vw;
    margin-top: 2vh;
}

.application-done > a {
    color: #11EED8;
    display: block;
    font-size: 2vw;
}

.application-name {
    text-align: center;
    color: #11EED8;
}

.application-fyi {
    text-align: center;
    font-size: 1vw;
    line-height: 4vh;
}

.submit {
    background-color: #070436;
    border: none;
    padding: .8vw;
    border-radius: 1vw;
    margin-top: 1vh;
    color: #11EED8;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Ubuntu', sans-serif;
}

.submit:hover {
    text-decoration: underline;
}

.submit-notice {
    background-color: white;
    width: 40%;
    color: #070436;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30vh;
    padding: 1vh;
    font-size: 1.6vw;
    text-align: center;    
}

.confirm-button {
    background-color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;   
}

.reject-button {
    background-color: #070436;
    color: white;
    border: .5vh solid #070436;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    font-size: 2vw;
    margin: 1vh;
}

.hover-underline:hover {
    text-decoration: underline;
}

#submit-application-notice-1 {
    display: none;
}

#submit-application-notice-2 {
    display: none;
}

#submit-application-notice-3 {
    display: none;
}

#incomplete-application-notice {
    display: none;
}

.submitted-info {
    display: none;
    color: #070436;
    text-align: left;
    width: 30%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    /* background-color: lightgray; */
}

.submitted-info > h1 {
    text-align: center;
    color: #11EED8;
}

.submitted-info > div {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: lightgray;
}

.submitted-info > h2 {
    text-align: center;
    margin-bottom: 3vh;
    color: white;
}


.optional-input {
    display: none;
}
/* ***************************End of application page****************************** */

/* } */

.job-container:hover {
    text-decoration: underline;
}

#go-to-log-in:hover {
    text-decoration: underline;
}

#back-to-job-page:hover {
    text-decoration: underline;
}


@keyframes fadeDown {
    0% {
        transform: translateY(-10vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes fadeRight {
    0% {
        transform: translateX(-10vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.home-img-1 {
    background-image: url(./assets/coder-on-phone.jpeg);
}

.home-img-2 {
    background-image: url(./assets/coders-talking.jpg);
}

.home-img-3 {
    background-image: url(./assets/coder-thinking.jpg);
}